@import 'tailwindcss';

body {
  -webkit-font-smoothing: antialiased;
  @apply flex flex-col min-h-svh bg-[#51fd00] text-[#0b3800];
}

#root {
  @apply flex flex-col flex-1 items-center gap-8;
}

@theme {
  --font-sans: system-ui;
}

@layer components {
  .logo {
    background: url(/favicon.svg);
  }
}
