@import 'tailwindcss';

body {
  -webkit-font-smoothing: antialiased;
  @apply flex flex-col min-h-svh bg-[#51fd00] text-[#0b3800] font-cursive;
  touch-action: pan-y;
}

#root {
  @apply flex flex-col flex-1 items-center px-4 py-16 gap-16;
}

@theme {
  --font-cursive: 'Shantell Sans', cursive;
}

@layer components {
  .logo {
    background: url(/favicon.svg);
  }
}
